---
---
@charset "utf-8";

/* Variables */
$example-color: #59565D;
$default-color: #59569D;

/* Mixins */
// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

/* All */
a {
  color: $default-color;
}


/* Custom container */
.container-narrow {
  font-family: Bitter;
  text-align: justify;
  margin: 0 auto;
  max-width: 728px;
  padding: 0 10px;
}

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

.post-full .content {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.post-full .example {

}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

/* navbar */
.navbar .navbar-inner {
  @include border-radius(0);
  background-image: url(/img/header-bg.png);
  background-repeat: repeat;
}

.navbar .brand {
  font-family: Gabriela;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: auto;
  color: #333;
  /*text-shadow: 1px 1px #ccc;*/

  img {
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }

}

/* headings */
h1, h2, h3, h4, h5, h6 {
  width: 100%;
  text-align: center;
  margin: auto;
  font-family: Gabriela;
}


/* page components */
.page-header h1 {
  margin-bottom: 20px;
}

.tagline {
  font-size: 24.5px;
  font-weight: normal;
  line-height: 1;
  color: #999;
}


/* home */

.home-content {
  h2 {
    font-size: 17.5px;
    font-weight: bold;
    line-height: 1;
    color: #999;
    margin: 20px 0 10px 0;
  }
  ul
  {
    list-style-type: none;
  }
}

.home-example-wrapper {
  text-align: center;
}

.home-example {
  min-width: 250px;
  /*font-style: italic;*/
  display: inline-block;
  /*color: #231D40;*/
  /*color: #39367D;*/
  color: $example-color;
  text-align: left;
  /*font-family: Verdana;*/

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .result {
    border-top: 1px solid #aaa;
    padding-top: 5px;
    margin: 5px 0 10px 0;
  }

}


/* Content */
.content {
  h1 {
    color: #29264D;
  }
  strong {
    color: #29264D;
  }
}

.example {
  color: $example-color;
  font-family: Gabriela;
}

footer a {
  color: darken($default-color, 25%);
  margin-bottom: 5px;
}


/* posts-description */
.posts-description {
  margin-bottom: 30px;

  a {
    margin-bottom: 20px;
    width: 100%;
    max-width: 690px;

    dt {
      font-family: Gabriela;
      color: #29264D;
      overflow: visible;
      white-space: normal;
    }

    dd {
      text-align: justify;
    }
  }

  a.btn-large dd {
    color: $default-color;
  }
}

@media all and (min-width: 728px){
  .posts-description {
    a {
      dt {
        width: 100px;
      }

      dd {
        margin-left: 120px;
      }
    }
  }

  .posts-description a.btn-large {
    dt {
      width: 160px;
    }

    dd {
      margin-left: 180px;
    }
  }
}

@media all and (max-width: 728px){
  .posts-description {
    a {
      padding: 5px 0;
      dt {
        width: auto;
        float: none;
        margin-bottom: 5px;
        text-align: left;
      }

      dd {
        margin-left: 0;
      }
    }
  }
}
