---
layout: page
home: true
description: Aprende a evitar y reconocer las falacias lógicas.
keywords: [ falacias lógicas, falacias, razonamientos falaces, razonamiento, argumento, falaz, verdad a medias, razonamiento incorrecto, engaños, fraude, mentiras, falsa verdad, premisas, conclusión, causalidad, casual, casualidad, generalizar, política, propaganda, coincidental, coincidencia, errónea, aristóteles, On Sophistical Refutations, prejuicios, cazar, cazar falacias, cazar falacias lógicas, cazar engaños ]
---

<div class="home-content">

  <p>Una <strong>falacia lógica</strong> es un razonamiento aparentemente correcto, pero que en realidad no lo es. Por ejemplo:</p>

  <div class="home-example-wrapper">
    <div class="home-example">
      <p>Las personas educadas no gritan</p>
      <p>Jorge no grita</p>
      <p class="result">Jorge es una persona educada</p>
    </div>
  </div>

  <p>Convincente, ¿verdad? Usemos el mismo razonamiento en otro contexto:</p>

  <div class="home-example-wrapper">
    <div class="home-example">
      <p>Eres un criminal si cortas a personas</p>
      <p>Los cirujanos cortan personas</p>
      <p class="result">Los cirujanos son criminales</p>
    </div>
  </div>

  <p>La conclusión no tiene porqué ser falsa, pero el <strong>razonamiento</strong> es <strong>incorrecto</strong>, por lo que si es cierta, es <strong>casualidad</strong>. Ambas son la misma falacia lógica: si <span class="example">X=Y</span>, y <span class="example">Z=Y</span>, entonces <span class="example">X=Z</span>.</p>

  <p>Las falacias lógicas tratan de justificar ideas que usando la razón son injustificables. Son explotadas a menudo por políticos y medios de comunicación para engañar a la gente. Puede que en algún momento incluso tú, inconscientemente, las hayas utilizado.</p>

  <p>Por suerte, las falacias lógicas están identificadas y clasificadas. El propósito de ésta web es ayudarte a evitarlas y a reconocerlas con facilidad:</p>

  {% include fallacies.html %}

  {% capture readme %}
  {% include info.md %}
  {% endcapture %}
  {{ readme | markdownify }}

</div>
