<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="/favicon.png">

    <title>{{site.title}}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description | escape }}">
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords | join:', '}}{% endif %}{{page.title|downcase}}, {{site.title|downcase}}, argumentum">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="http://fonts.googleapis.com/css?family=Gabriela|Bitter" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</head>
